<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Careers Website</title>
    </head>
    <body>
        <h1>Careers Website</h1>
        <img
            src="../static/banner.jpg"
            alt="Motivational Image"
            height="320px" />

        <h2>About Me</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            rerum facere culpa explicabo nihil, blanditiis minima at vero dolore
            ipsa libero id repellat iusto repellendus quam quibusdam a tempore
            aliquid soluta inventore. Id nostrum doloribus sint, quos atque
            quisquam animi! Quam minus recusandae fugiat quaerat vel laboriosam
            perferendis adipisci eligendi dicta quas consequatur doloribus et
            itaque, amet molestias non tempora. Cum, enim maxime quibusdam
            placeat consequatur quaerat voluptatum perspiciatis eius autem
            delectus magnam dolorum quod sunt culpa voluptate soluta quisquam,
            maiores ab commodi rem fugiat vero, unde sapiente ex! Fugit modi
            autem atque reprehenderit nam accusantium facere optio libero ad!
        </p>

        <h2>Open Position</h2>
        <p>TODO - I will show jobs here</p>
        <button>Contact Us</button>
    </body>
</html>
