body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-family: Robot;
    font-weight: normal;
    text-align: center;
}
